.form-field {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
  justify-items: start;
  &--error, &--valid {
    color: transparent;
    font-size: 12px;
  }
  input {
    padding: 5px 10px;
    width: auto;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
  }
}

.active-error {
  .form-field--error {
    color: #ff0000;
  }
  input, textarea {
    outline: 2px solid #ff0000;
  }
}

.invalid-field {
  .form-field--valid {
    color: #ff0000;
  }
  input, textarea {
    background-color: #ff9292;;
  }
}